@using Blog.Web.Models
@model IEnumerable<Blog.Web.Entity.Posts>
@{
    ViewBag.Title = "Index";
    bool isPreviousLinkVisible = ViewBag.IsPreviousLinkVisible ?? false;
    bool isNextLinkVisible = ViewBag.IsNextLinkVisible ?? false;
}
<p> @Html.ActionLink("Posts", "Create")</p>

<div class="container ">
    <div class="row">
        <div class="col-sm-3 well">
            <div class="well">
                <p>
                    <a href="#">@Session["Username"]</a>
                </p>
                <img src="~/Images/ulrikas-gotland---ata-njuta-leva .jpg" class="img-circle" height="65" width="65" alt="Avatar">
            </div>
            <div class="well">
                <p>
                    <a href="#">Interests</a>
                </p>
                <p>
                    <span class="label label-default">News</span>
                    <span class="label label-primary">W3Schools</span>
                    <span class="label label-success">Labels</span>
                    <span class="label label-info">Football</span>
                    <span class="label label-warning">Gaming</span>
                    <span class="label label-danger">Friends</span>
                </p>
            </div>
            <div class="alert alert-success fade in">
                <a href="#" class="close" data-dismiss="alert" aria-label="close">×</a>
                <p>
                    <strong>Ey!</strong>
                </p>
                People are looking at your profile. Find out who.
            </div>
            <p>
                <a href="#">Link</a>
            </p>
            <p>
                <a href="#">Link</a>
            </p>
            <p>
                <a href="#">Link</a>
            </p>
        </div>
        <div class="col-sm-7">           
            @foreach (var item in Model)
            {



                <div class="row">
                    <div class="col-sm-3">
                        <div class="well">
                            <p>John</p>
                            <img src="~/Images/product-img11.jpg" class="img-circle" height="55" width="55" alt="Avatar">                           
                        </div>
                    </div>
                    <div class="col-sm-9">
                        <div class="panel panel-default">


                            @{
                                DateTime start = DateTime.Now;
                                TimeSpan timeDiff = new TimeSpan();
                                timeDiff = DateTime.Now - item.DateT.Value;
                                var totalMinutes = timeDiff.Hours;

                                if (totalMinutes == 0)
                                {
                                    <div class="panel panel-footer">Just Now <h4>@Html.DisplayFor(modelItem => item.Title)</h4>
                                    </div>
                                }
                                else
                                {
                                    <div class="panel panel-footer">
                                        <span class="glyphicon glyphicon-time"></span>@totalMinutes Hr
                                        <h4>@Html.DisplayFor(modelItem => item.Title)</h4>
                                    </div>
                                }
                            }
                            <div class="well">
                                <div class="panel panel-body"> @Html.DisplayFor(modelItem => item.Body)</div>
                                <div class="panel-footer">@Html.DisplayFor(modelItem => item.Comments.Count) Comments
                                    @Html.ActionLink("Comments", "Create", "Comments", new {@id = item.ID}, null)
                                </div>
                            </div>


                        </div>
                    </div>
                </div>
                <hr/>
            }                           
            @if (isPreviousLinkVisible)
            {
                <a id="previousLink" href="@Href("~/Posts/Index/" + (ViewBag.PageNumber - 1))">&lt; Previous Page</a>
            }
            @if (isNextLinkVisible)
            {
                <a id="nextLink" href="@Href("~/Posts/Index/" + (ViewBag.PageNumber + 1))">&lt; Next Page &gt;</a>
            }
        </div>
        <div class="col-sm-2 well">
            <div class="thumbnail">
                <p>Upcoming Events:</p>
                <img src="~/Images/product-img9.jpg" alt="Paris" width="400" height="300">                
                <p>
                    <strong>Paris</strong>
                </p>
                <p>Fri. 27 November 2015</p>
                <button class="btn btn-primary">Info</button>
            </div>
            <div class="well">
                <p>ADS</p>
            </div>
            <div class="well">
                <p>ADS</p>
            </div>
        </div>
    </div>
</div>
}

@*@foreach (var item in Model)
    {*@
@*<div class="panel panel-primary">
    <div class="panel panel-heading">@Html.DisplayFor(modelItem => item.Title)</div>
    <div class="panel panel-body">@Html.DisplayFor(modelItem => item.Body)</div>
    <p>
        @*<div class="panel panel-footer">@Html.DisplayFor(modelItem => item.DateT)</div>*@
@*</p>*@



